/* ---------------------------------------------------------------------------------------------- */
/*                                             Helpers                                            */
/* ---------------------------------------------------------------------------------------------- */

@use "./functions" as f;

.container {
  display: block;
  max-width: f.rem(1400);
  margin: 0 auto;
  padding: 0 f.rem(20);
}
