*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  scroll-behavior: smooth;
  min-height: 100vh;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    box-sizing: border-box;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

select,
input,
label,
button,
textarea,
option {
  font-family: inherit;
  font-size: inherit;
  //   appearance: none;

  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}
